*{
  margin: 0;
  padding: 0;
  list-style: none;
}
body{
  background-color: #F4F5F5;
}
a{
  text-decoration: none;
  font-size: inherit;
  color: inherit;
}
i{
  font-size: inherit;
}

input{
  font-size: 14px;
  border: 1px solid #515a6e;
  border-radius: 3px;
  outline: none;
  transition: border .2s ease-in-out,background .2s ease-in-out,box-shadow .2s ease-in-out;
}
input:focus{
  border-color: #2d8cf0;
  box-shadow: 0 0 0 2px rgba(45,140,240,.2);
}
input:hover{
  border-color: #2d8cf0;
}
input.error, input.error:focus{
  border-color: #ed4014;
  box-shadow: 0 0 0 2px rgba(237,64,20,.2);
}
@primaryColor: #2d8cf0;// 强调色
@lightPrimaryColor: #1e90ff;// 主题色

